<div class="container text-center">
  <a class="btn btn-primary" href="/login" role="button">Login</a>
  <a class="btn btn-primary" href="/register" role="button">Register</a>
</div>

<button
  type="button"
  class="btn btn-warning"
  data-bs-toggle="modal"
  data-bs-target="#Modal"
>
  INFO
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Instructions</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            If you are a first-time user, please register using the registration
            form.
          </li>
          <li class="list-group-item">
            If you are already registered, you can proceed to login using your
            credentials.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <h1>URL Shortener</h1>
  <form action="/shorten" method="POST">
    <div class="mb-3">
      <label for="fullUrl" class="form-label">URL</label>
      <input
        type="url"
        class="form-control"
        id="fullUrl"
        name="originalUrl"
        aria-describedby="emailHelp"
        placeholder="Type Your Original Url"
      />
    </div>
    <button type="submit" class="btn btn-primary">Shrink</button>
  </form>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Full URL</th>
        <th scope="col">Short URL</th>
      </tr>
    </thead>
    <tbody>
      <% URLShorteners.forEach((urlShortener) => { %>
      <tr>
        <td>
          <a href="<%= urlShortener.originalUrl %>" target="_blank"
            ><%= urlShortener.originalUrl %></a
          >
        </td>
        <td>
          <a href="<%= urlShortener.shortId %>" target="_blank"
            ><%= urlShortener.shortId %></a
          >
        </td>
        <td>
          <form action="/delete/<%= urlShortener._id %>" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
