<div class="container text-center">
  <!-- Page Heading -->
  <h1>URL Shortener</h1>

  <!-- Logout Button -->
  <form action="/logout" method="POST">
    <a class="btn btn-warning" href="/logout" role="button">Log Out</a>
  </form>

  <!-- URL Shortening Form -->
  <form action="/shorten" method="POST">
    <div class="mb-3">
      <!-- URL Input Field -->
      <label for="fullUrl" class="form-label">URL</label>
      <input
        type="url"
        class="form-control"
        id="fullUrl"
        name="originalUrl"
        aria-describedby="emailHelp"
        placeholder="Type Your Original Url"
      />
    </div>
    <!-- Shrink Button -->
    <button type="submit" class="btn btn-primary">Shrink</button>
  </form>

  <!-- URL Shorteners Table -->
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <!-- Table Headers -->
        <th scope="col">Full URL</th>
        <th scope="col">Short URL</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through URLShorteners array and render table rows -->
      <% URLShorteners.forEach((urlShortener) => { %>
      <tr>
        <!-- Original URL -->
        <td>
          <a href="<%= urlShortener.originalUrl %>" target="_blank"
            ><%= urlShortener.originalUrl %></a
          >
        </td>
        <!-- Shortened URL -->
        <td>
          <a href="/<%= urlShortener.shortId %>" target="_blank"
            ><%= urlShortener.shortId %></a
          >
        </td>
        <!-- Delete Button -->
        <td>
          <form action="/delete/<%= urlShortener._id %>" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
